body {
    font-family: 'Arial', sans-serif;
    background-color: #daf8de;
    margin: 0;
    padding: 0;
    color: #333333;
}
.header {
    color: #055218;
    font-size: 14px;
    text-align: center;
}
.container {
    max-width: 60%;
    margin: auto;
}
.messages {
    background: #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    height: 50vh;
    overflow-y: scroll;
}
.message {
    border-bottom: 1px solid #ced6e0;
    padding: 15px 0;
}
.message:last-child {
    border-bottom: none;
}
form {
    display: flex;
    flex-direction: column;
}
textarea, input, button {
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ced6e0;
    border-radius: 6px;
    font-size: 16px;
}

button{
    cursor: pointer;
}

.lobby_button{
    background-color: #73ac7d;
    color: white;
    transition: background-color 0.3s;
}

.lobby_button:hover {
    background-color: #04721f;
}
.button {
    background-color: #05642d;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
.button:hover {
    background-color: #27ae60;
}

.message-box {
    background: rgba(247, 248, 245, 0.42);
    /* border-left: 4px solid rgba(51, 177, 104, 0.42); */
    margin-bottom: 15px;
    padding: 10px 15px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.message-author {
    font-weight: bold;
    margin-bottom: 5px;
}

.message-content {
    font-size: 16px;
    line-height: 1.4;
}

textarea {
    background: #f8f9fa;
    border: 1px solid #ced4da;
    box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
    border-radius: 6px;
    min-height: 100px;
    font-size: 16px;
    line-height: 1.5;
    resize: none;
    outline: none;
}

[x-cloak] {
    display: none !important;
}